.sales-spike-time-add {
    .time-add-title {
        background-color: #fff;
        margin-bottom: 10px;
        .ivu-card-body {
            padding: 6px;
        }
        .ivu-btn {
            padding: 6px 8px 6px 20px;
        }
    }
    .time-add-body {
        background: #ffffff;
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px 0 20px 40px;
            font-size: 12px;
            h6 {
                font-size: 12px;
                font-weight: 300;
            }
        }
        .ivu-form {
            padding-top: 20px;
        }
    }
}