.store-category {
    height: 894px;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 20px;
    .promptBox {
        height: 94px;
        padding: 20px;
    }
    .refresh {
        margin-left: 20px;
        text-align: left;
        padding-left: 0;
        font-weight: 300;
        color: #657180;
        i {
            font-size: 16px ;
        }
    }
}
