.store {
  .ivu-tabs-nav-scroll {
      background: #ffffff;
      padding-left: 20px;
  }
  .ivu-tabs-nav .ivu-tabs-tab {
      padding: 12px 22px;
  }
  .ivu-tabs .ivu-tabs-tabpane {
      background: #ffffff;
      padding: 20px;
  }
  .prompt-box {
      background-color: #f5f7f9;
      padding: 20px 0 20px 40px;
      font-size: 12px;
      h6 {
          font-size: 12px;
          font-weight: 300;
      }
  }
  .store-body {
      margin-top: 20px;
      .store-body-header {
          overflow: hidden;
          .export-btn {
            padding: 8px 22px;
            float: left;
          }
          .store-body-header-right {
              float: right;
              .ivu-input-group-append .ivu-btn, .ivu-input-group-prepend .ivu-btn {
                  background-color: #39f;
                  color: #ffffff;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                  font-size: 14px;
                  padding: 6px 17px;
              }
              .ivu-input-group {
                  top: 0;
                  .ivu-input {
                    height: 36px;
                    width: 203px;
                  }
              }
          }
      }
      .ivu-table {
          font-size: 14px;
      }
      .ivu-table td, .ivu-table th {
          height: 60px;
      }
      .shop-table {
          font-size: 14px;
          margin-top: 10px;
          .ivu-btn-small {
              padding: 3px 19px;
              font-size: 14px;
              border-radius: 4px;
              &:first-child {
                  margin-right: 10px;
              }
          }
          .ivu-table-cell {
              padding-left: 0;
              padding-right: 0;
          }
      }
  }
}
.page {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    .ivu-page {
        text-align: center;
        display: inline-block;
    }
}
