//.store-category-set {
//    margin: 0 20px;
//    padding: 40px auto auto ;
//    height: 894px;
//    border-radius: 4px;
//    background-color: #ffffff;
//    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.05);
//    .content {
//        width: auto;
//        padding-left: 109px;
//        padding-top: 40px;
//        font-family: MicrosoftYaHei;
//        font-size: 14px;
//        text-align: right;
//        color: #657180;
//        .my-input {
//          width: 268px;
//          height: 36px;
//          margin-left: 31px;
//          border-radius: 4px;
//          background-color: #fff;
//          border: solid 1px #e3e8ee;
//        }
//        ul {
//            li {
//                margin-bottom: 32px;
//                .content-ico {
//                    color: #ef5151;
//                }
//            }
//        }
//        span {
//          margin-left: 90px;
//          opacity: 0.5;
//          font-family: MicrosoftYaHei;
//          text-align: left;
//          color: rgba(101, 113, 128, 0.5)
//        }
//        //button {
//        //  list-style: none;
//        //  margin-left: 110px;
//        //  width: 94px;
//        //  height: 36px;
//        //  border-radius: 4px;
//        //  background-color: #3399ff;
//        //  color: #fff;
//        //  //border: solid 1px #e3e8ee;
//        //}
//        button {
//          margin-top: 31px;
//          width: 94px;
//          height: 36px;
//          border-radius: 4px;
//          background-color: #3399ff;
//          border: solid 1px #e3e8ee;
//          a {
//            font-family: MicrosoftYaHei;
//            font-size: 14px;
//            font-weight: 300;
//            text-align: left;
//            color: #fff;
//          }
//        }
//    }
//}
//
.store-category-set {
    .setBox {
        margin-bottom: 10px;
        background-color: #fff;
        font-weight: 500;
        color: #657180;
        height: 44px;
        padding: 12px 0 18px 20px;
    }
    .range {
        margin: 0;
        opacity: 0.5;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        text-align: left;
        color: rgba(101, 113, 128, 0.5);
    }
}
