.mall-wrap {
	.store-edit {
		> div {
			background-color: #fff;
			font-size: 14px;
		}

		.title-line {
			h5 {
				font-size: 14px;
				height: 54px;
				line-height: 54px;
				padding: 0 20px;
				border-bottom: 1px solid #e3e8ee;
			}
		}

		.edit-link-title {
			height: 44px;
			line-height: 44px;
			margin-bottom: 10px;
			.ivu-btn {
				padding: 6px 8px 6px 20px;
			}
		}

		.store-information {

		}
	}
}