.mall-wrap {
    .store-edit {
        .edit-link-title {
            background-color: #fff;
            height: 44px;
            line-height: 44px;
            margin-bottom: 10px;
            .ivu-btn {
                padding: 6px 8px 6px 20px;
            }
        }
        .store-information {
            .ivu-card-bordered {
                margin-bottom: 20px;
            }
            .ivu-form {
                .basic-information {
                    .data-picker-input {
                        .ivu-input {
                            width: 124px;
                        }
                        .ivu-input-icon {
                            left: 94px;
                            top: 2px;
                        }
                    }
                    .ivu-form-item {
                        &.switch-status {
                            margin-top: -8px;
                            margin-bottom: 27px;
                            .ivu-switch-large {
                                width: 48px;
                            }
                            .ivu-switch-large.ivu-switch-checked:after {
                                left: 29px;
                            }
                            .ivu-switch {
                                height: 22px;
                                line-height: 21px;
                                &:after {
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                            .ivu-switch-checked
                            .ivu-switch-inner {
                                left: 4px;
                            }
                            .ivu-switch-inner {
                                left: 19px;
                            }
                        }
                    }
                }

                .ivu-form-item {
                    .ivu-input {
                        width: 480px;
                    }
                    .ivu-select {
                        .ivu-select-selection {
                            width: 124px;
                        }
                        .ivu-select-dropdown {
                            width: 124px !important;
                        }
                    }
                }

                .register-information {
                    background-color: #fff;
                    .register-content {
                        h5 {
                            height: 40px;
                            line-height: 40px;
                            background-color: #f5f7f9;
                            border-bottom: solid 1px #e3e8ee;
                            padding: 0 20px;
                        }
                        .border-color {
                            > div {
                                border: solid 1px #e3e8ee;
                                li {
                                    border-bottom: solid 1px #e3e8ee;
                                    &:last-child {
                                        border-bottom: 0;
                                    }
                                    .ivu-form-item {
                                        padding: 14px 0;
                                        margin-bottom: 0;
                                    }
                                    .company-name {
                                        .ivu-input {
                                            width: 480px;
                                        }
                                    }
                                    .picker-input {
                                        .ivu-form-item-label {
                                            width: 46px !important;
                                            padding-right: 8px;
                                        }
                                        .ivu-form-item-content {
                                            margin-left: 46px !important;
                                        }
                                    }
                                    .data-picker-input {
                                        .ivu-input {
                                            width: 124px;
                                        }
                                        .ivu-input-icon {
                                            left: 94px;
                                            top: 2px;
                                        }
                                    }
                                    .ivu-input {
                                        width: 268px;
                                        &.input-param {
                                            position: relative;
                                            &:after {
                                                position: absolute;
                                                display: block;
                                                content: '人';
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .company-information {
                            padding-bottom: 20px;
                        }

                        .license-information {
                            > div {
                                li {
                                    .data-picker-input {
                                        width: 302px;
                                    }
                                }
                                .upload-picture {
                                    .demo-upload-list{
                                        display: inline-block;
                                        width: 60px;
                                        height: 60px;
                                        line-height: 60px;
                                        text-align: center;
                                        border: 1px solid transparent;
                                        border-radius: 4px;
                                        overflow: hidden;
                                        background: #fff;
                                        position: relative;
                                        box-shadow: 0 1px 1px rgba(0,0,0,.2);
                                        margin-right: 4px;
                                    }
                                    .demo-upload-list img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                    .demo-upload-list-cover{
                                        display: none;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        background: rgba(0,0,0,.6);
                                    }
                                    .demo-upload-list:hover .demo-upload-list-cover{
                                        display: block;
                                    }
                                    .demo-upload-list-cover i{
                                        color: #fff;
                                        font-size: 20px;
                                        cursor: pointer;
                                        margin: 0 2px;
                                    }
                                    .upload-input {
                                        width: 60px;
                                        height: 60px;
                                        line-height: 60px;
                                        background-color: #f5f7f9;
                                    }
                                }
                            }
                        }
                    }
                }
                .submit-btn {
                    width: 80px;
                    padding: 20px 0;
                }
            }
        }
    }
}
